.t2{
	width: 590px;
	height: 210px;
	margin: auto;				
				
	padding-top: 20px;
}

.subImg2{

	border-radius: 7px;
	width: 130px;
	height: 100px;
	background-color: gray;
	  
}

.ab{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
  
}
